---
const { title, showNavbar } = Astro.props;
---

<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <style global>
      @import "../styles/global.css";
    </style>
  </head>
  <body>
    <div class="bg-black min-h-screen overflow-auto flex flex-col">
      <div class="flex-[1_0_auto] flex items-stretch flex-col">
        <slot />
      </div>
      <footer
        class="flex-shrink-0 p-6 flex items-center border-t-[1px] border-slate-800 mt-10"
      >
        <div class="text-slate-500 flex flex-row">
          <a href="/" class="hover:underline hover:text-slate-400">Linqs</a>
          <div class="mx-2 text-gray-700 font-bold">|</div>
          <a
            href="https://github.com/miapolis/linqs"
            class="hover:underline hover:text-slate-400">Github</a
          >
          <div class="mx-2 text-gray-700 font-bold">|</div>
          <div>Ethan Lerner</div>
        </div>
      </footer>
    </div>
  </body>
</html>
