---
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <style global>
      @import "../styles/global.css";
    </style>
  </head>
  <body>
    <div class="bg-black min-h-screen overflow-auto">
      <slot />
    </div>
  </body>
</html>
