---
import BaseLayout from "../layouts/base-layout.astro";
---

<BaseLayout title="Not Found">
  <div class="flex w-full items-center justify-center flex-col">
    <h1 class="text-slate-800 text-8xl font-bold">404</h1>
    <div class="text-slate-500 size-md mt-4">
      The requested URL was not found on this server.
    </div>
  </div>
</BaseLayout>
